@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background: #1C8EF9 !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  margin: 0% 20%;
}
a {
  text-decoration: none !important;
}
h1,h2,h5,label,span {
  font-weight: 500;
  font-family: "Montserrat",'Fira Sans', sans-serif;
  font-size: .9rem;
}
h3 {
  font-size: 1.5rem;
  color: rgb(56, 56, 56);
  line-height: 2.5rem;
  margin: 2rem 0rem;
}
h4 {
  font-size: 1rem;
  color: rgb(56, 56, 56);
}
body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.body-wrapper {
  margin: 0 10%;
  background-color: white;
  padding: 1% 5% 2% 5%;
  border-radius: 2rem;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.navbar-light {
  background-color: #ffffff;
  /* box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2); */
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  align-items: center;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}
.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}
.forgot-password a {
  color: #167bff;
}

.error_msg {
  width: 340px;
  padding: 10px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.success_msg {
  width: 340px;
  padding: 10px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #198754;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.auth-inner h4 {
  text-align: center;
  font-weight: lighter;
}

.health_fact_box {
  width: 100%;
  padding-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.health_fact_box ul {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
}

.health_fact_box ul li {
  padding: 0px 2px;
  margin: 5px 0px;
  border-radius: 5px;
}

.health_fact_box ul li label {
  /* width: 50%; */
  font-size: 0.9em;
  font-weight: lighter;
}

.underweight {
  background-color: #e7ff31;
}

.normal_weight {
  background-color: #46ff31;
}

.overweight {
  background-color: #ffa231;
}

.obese {
  background-color: #ff3131;
}

.activity_form {
  padding-top: 20px;
  width: 100%;
}

.activity_form h4 {
  font-size: 1em;
  text-align: left;
}

.activity_form select {
  width: 100%;
  /* border: none; */
  /* -webkit-appearance:caret;
  -moz-appearance: none;
  appearance: none; */
  /* background: #7f7d7d; */
}

.activity_form label {
  padding-top: 20px;
  font-size: 1.2em;
}
